<ion-modal-view>
  <ion-header-bar>
		<div class="buttons">
		  <a ng-click="closeAnimaux()" class="button icon-left ion-chevron-left button-clear button-dark">Retour</a>
		</div>
		<h1 class="title title-modal">Les animaux</h1>	
  </ion-header-bar>
  
  <ion-content>
      <ion-list ng-repeat="item in tout">
          <div class="list">
              <a class="item item-avatar" href="#">
                  <img src="{{item.img}}">
                  <h2>{{item.nom}}</h2>
                  <p>{{item.description}}</p>
              </a>
          </div>
      </ion-list>
  </ion-content>
  
</ion-modal-view>
